body {
	font-family: "Atkinson Hyperlegible", sans-serif;
	background-color: white;
	color: black;
}
a:link, a:visited {
  color: #000099;
  text-decoration: none;
}

a:hover, a:active {
	background-color: #FFFDD0;
  cursor: link;
}
li {
	padding-bottom: 1ex;
}
li > ul {
	padding-top: 1ex;
}
table, td, th {
	border: thin solid black;
	border-collapse: collapse;
}
td, th {
	padding: .5ex;
	vertical-align: top;
	text-align: left;
	background-color: white;
	color: black;
}
