body {
	overflow: hidden;
}
td, th {
	scroll-snap-align: start;
}
th[rowspan] {
	min-width: 3ex;
	vertical-align: middle;
	writing-mode: sideways-lr;
	text-wrap: wrap;
}
td {
	padding: 0;
}
th[colspan], th[colspan] a:link, th[colspan] a:visited, th[rowspan], th[rowspan] a:link, th[rowspan] a:visited {
	background-color: black;
	color: white;
}
thead th[colspan] {
	text-align: center;
	text-wrap: wrap;
}
.mapping {
	width: calc(100% - 1ex);
	height: calc(100% - 1ex);
	padding: .5ex;
}
ul {
	padding-left: 1em;
	margin-top: 0;
}
#matrix {
	max-width: 100vw;
	max-height: calc(100vh - 10em);
	overflow: auto;
	scroll-snap-type: x mandatory;
}
thead, th { 
	position: sticky; 
}
thead { 
	top: 0; 
	z-index: 2; 
}
th { 
	left: 0; 
	z-index: 1; 
}
.rch {
	background-color: #F9F9F9;
}
.stmt, .stmt:link, .stmt:active, .stmt:visited {
	color: #283d2b;
	background-color: #ffffcc;
}
.na {
	background-color: #DDDDDD;
}
*[popover] {
	margin: 0;
	position: absolute;
	background-color: white;
}
.total 
{
	font-weight: normal;
	font-stretch: condensed;
}
input:disabled+label {
  color: #ccc;
}
footer {
	margin-top: 0;
	border-top: 0;
}