---
import Layout from '../layouts/Layout.astro';
import { v4 as uuidv4 } from 'uuid';

if (Astro.request.method === "POST") {
  try {
    const post_data = await Astro.request.formData();
    const post_add = post_data.get("add");
    const post_label = post_data.get("label");
    
    if (post_add != null && post_label != null) {
			const post_sparql = 'insert data	{ :' + dbquery.uuid() + ' a owl:NamedIndividual ;	a a11y:UserNeedCategory ;	 rdfs:label "' + post_label + '"@en }';
			const post_response = dbquery.updateQuery(post_sparql);
    }

  } catch (error) {
    if (error instanceof Error) {
      console.log(error.message);
    }
  }

}

const sparql = "select ?s ?l where { ?s a a11y:UserNeedCategory . ?s rdfs:label ?l } order by ?l";
const json = await dbquery.selectQuery(sparql);

---

<Layout title="Categories">
	<main>
		<h1>Categories</h1>
		<p>Categories to date:</p>
		<ul>
			{json.results.bindings.map((item) => <li><a href={'?id=' + item.s.value}>{item.l.value}</a></li>)}
		</ul>
		<form method="post">
		<p><label for="add-label">Add category:</label>
		<input type="text" name="label" id="add-label" /></p>
		<p><input type="submit" name="add" value="Add category"/></p>
		</form>
	</main>
</Layout>

