---
import IdLabel from '../components/IdLabel.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Functional Need Category">
	<main>
			<h1>Functional Need Category</h1>
			<IdLabel type="FunctionalNeedCategory" title="Functional Need Category"></IdLabel>
	</main>
</Layout>
