---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Digital Accessibility Framework">
	<p>This resource accesses a database of accessibility statements generated in the Digital Accessibility Framework project. </p>
	
	<p><a href="matrix">Full matrix</a></p>
	
	<p>Content is organized by type, currently including:</p>
	<ul>
		<li>Categories
			<ul>
				<li><a href="functional-need-categories">Functional need categorization</a></li>
				<!-- <li><a href="user-need-categories">User need categorization</a></li> -->
			</ul>
		</li>
		<li>Matrix dimensions
			<ul>
				<li><a href="functional-needs">Functional need</a></li>
				<li>Intersection need</li>
				<li><a href="user-needs">User need</a></li>
				<li><a href="user-need-relevances">User need relevance</a></li>
			</ul>
		</li>
		<li><a href="guidance-statements">Mapped statements</a></li>
		<li>Term lists</li>
		<li>References</li>
	</ul>
</Layout>
