---
import Layout from "../layouts/Layout.astro";
import { baseUri } from "../script/util.js";
---

<Layout title="Digital Accessibility Framework">
	<p>
		<a href={baseUri + "matrix-accommtype"}>Matrix</a> | <a
			href={baseUri + "docs"}>Documentation</a
		>
	</p>

	<p>
		This resource accesses a database of accessibility statements generated
		in the <a
			href="https://github.com/accessiblecommunity/Digital-Accessibility-Framework"
			>Digital Accessibility Framework</a
		> project and presents it in a <a href={baseUri + "matrix-accommtype"}
			>matrix</a
		> showing intersections of related aspects of the digital accessibility space.
	</p>

	<ul>
		<li>
			<a href={baseUri + "guidance-statements"}
				>Accessibility statements</a
			>
			<ul>
				<li><a href={baseUri + "notes"}>Notes</a></li>
				<li><a href={baseUri + "references"}>References</a></li>
				<li><a href={baseUri + "tags"}>Tags</a></li>
			</ul>
		</li>
		<li>
			<a href={baseUri + "matrix-accommtype"}>Matrix</a>
			<ul>
				<li>
					<a href={baseUri + "functional-ability-groups"}
						>Functional ability groups<a>
							<ul>
								<li>
									<a href={baseUri + "functional-abilities"}
										>Functional abilities</a
									>
								</li>
							</ul>
						</a>
						<li>
							<a href={baseUri + "accommodation-types"}
								>Accommodation types</a
							>
						</li>
						<li>
							<a
								href={baseUri +
									"accessibility-characteristic-groups"}
								>Accessibility characteristic groups</a
							>
							<ul>
								<li>
									<a
										href={baseUri +
											"accessibility-characteristics"}
										>Accessibility characteristics</a
									>
								</li>
							</ul>
						</li>
					</a>
				</li>
			</ul>
		</li>
	</ul></Layout
>
