---
import Layout from '../layouts/Layout.astro';
import {baseUri} from '../script/util.js';
---

<Layout title="Digital Accessibility Framework">
	<p>This resource accesses a database of accessibility statements generated in the Digital Accessibility Framework project and presents it in a <a href={baseUri + "matrix"}>matrix</a> of functional needs, user needs, and user need relevances. Individual categories of content are:</p>
	
	<ul>
		<li>Categories
			<ul>
				<li><a href={baseUri + "functional-need-categories"}>Functional need categorization</a></li>
				<!-- <li><a href={baseUri + "user-need-categories"}>User need categorization</a></li> -->
			</ul>
		</li>
		<li>Matrix dimensions
			<ul>
				<li><a href={baseUri + "functional-needs"}>Functional need</a></li>
				<li><a href={baseUri + "intersection-needs"}>Intersection need</a></li>
				<li><a href={baseUri + "user-needs"}>User need</a></li>
				<li><a href={baseUri + "user-need-relevances"}>User need relevance</a></li>
			</ul>
		</li>
		<li><a href={baseUri + "guidance-statements"}>Mapped statements</a></li>
		<li>Term lists
			<ul>
				<li>Reference types</li>
				<li><a href={baseUri + "tags"}>Tags</a></li>
			</ul>
		</li>
		<li><a href={baseUri + "references"}>References</a></li>
	</ul>
</Layout>
