---
import Layout from '../layouts/Layout.astro';
import {baseUri} from '../script/util.js';
---

<Layout title="Digital Accessibility Framework">
	<p>This resource accesses a database of accessibility statements generated in the <a href="https://github.com/accessiblecommunity/Digital-Accessibility-Framework">Digital Accessibility Framework</a> project and presents it in a <a href={baseUri + "matrix"}>matrix</a> of functional needs, user needs, and user need relevances. </p>
	
	<p><strong><a href={baseUri + "matrix"}>Matrix</a></strong> | <a href={baseUri + "docs"}>Documentation</a></p>
	
	<p>The matrix shows guidance statements and their relationship to the above dimensions. Links go to greater detail about the item and its relationships. This content can also be accessed by category:</p>
	
	<ul>
		<li><a href={baseUri + "functional-need-categories"}>Functional need categories</a>
			<ul>
				<li><a href={baseUri + "functional-needs"}>Functional needs</a></li>
				<li><a href={baseUri + "intersection-needs"}>Intersection needs</a></li>
			</ul>
		</li>
		<li><a href={baseUri + "user-needs"}>User needs</a>
			<ul>
				<li><a href={baseUri + "user-need-relevances"}>User need relevances</a></li>
			</ul>
		</li>
		<li><a href={baseUri + "guidance-statements"}>Accessibility statements</a>
			<ul>
				<li><a href={baseUri + "tags"}>Tags</a></li>
				<li><a href={baseUri + "references"}>References</a></li>
			</ul>
		</li>
	</ul>

	<p>This site is a static copy and not connnected the database that generates the content. Structured data in JSON-LD format is available at <a href={baseUri + "statements.jsonld"}>statements.jsonld</a>.</p>
</Layout>
