---
import Layout from '../layouts/Layout.astro';
import {table} from "../components/build-matrix.js";
---
<Layout title="Matrix">
<link rel="stylesheet" type="text/css" href="/matrix.css"/>
<script src="/matrix.js" is:inline></script>
<script>
window.addEventListener("load", attachListeners());
</script>
<p>
<input type="checkbox" id="highlightCellPosControl"/> <label for="highlightCellPosControl">Show cell position</label>
<input type="checkbox" id="highlightSameStmtControl"/> <label for="highlightSameStmtControl">Show same statements</label>
<input type="checkbox" id="shrinkMatrixControl"/> <label for="shrinkMatrixControl">Fit matrix</label>
</p>
<div id="matrix" set:html={table}>
</div>
</Layout>
