---
import Layout from '../layouts/Layout.astro';
import {table} from "../components/build-matrix.js";
---
<Layout title="Matrix">
<link rel="stylesheet" type="text/css" href="./matrix.css"/>
<script src="./matrix.js" is:inline></script>
<script>
window.addEventListener("load", attachListeners());
</script>
<p><input type="checkbox" id="shrinkMatrixControl"/> <label for="shrinkMatrixControl">Shrink matrix</label></p>
<div id="matrix" set:html={table}>
</div>
</Layout>
