---
import Layout from '../layouts/Layout.astro';
import {baseUri} from '../script/util.js';
import { JSDOM } from 'jsdom';
import fileUrl from 'file-url';
import { getPathByLocale } from 'astro:i18n';

console.log(1);
async function getTable(document) {
	console.log(2);
	return new Promise((resolve) => {
		console.log(3);
		document.addEventListener("MatrixTableLoaded", function() {
			console.log(document);
			resolve(document.getElementById("matrixTable"));
		})
	})
}

console.log(4)
const jsdomOptions = {url: fileUrl("./matrix-accommtype.html"), runScripts: "dangerously", resources: "usable"};
console.log(5);
const dom = new JSDOM('', jsdomOptions);
console.log(6);
//var document = dom.window.document;
console.log(7);
let table = await getTable(dom.window.document);
console.log(8);
---
<Layout title="Matrix">
<link rel="stylesheet" type="text/css" href={baseUri + "matrix.css"}/>
<script src={baseUri + "matrix.js"} is:inline></script>
<script>
window.addEventListener("load", attachListeners());
</script>
<p>
<input type="checkbox" id="highlightSameStmtControl"/> <label for="highlightSameStmtControl">Show same statements</label>
<input type="checkbox" id="highlightCellPosControl"/> <label for="highlightCellPosControl">Show cell position</label>
<input type="checkbox" id="shrinkMatrixControl"/> <label for="shrinkMatrixControl">Fit matrix</label>
<input type="checkbox" id="showPopupsControl" disabled=true/> <label for="showPopupsControl">Show enlarged popups</label>
</p>
<div id="matrix" set:html={table}>
</div>
</Layout>
