---
import IdLabel from '../components/IdLabel.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="User Need Category">
	<main>
			<h1>User Need Category</h1>
			<IdLabel type="UserNeedCategory" title="User Need Category"></IdLabel>
	</main>
</Layout>
