---
import Layout from '../layouts/Layout.astro';
import {baseUri, idFrag, apiGet} from '../script/util.js';

const {id, section, title} = Astro.props;
const json = await apiGet(section + '/' + idFrag(id));

---

<Layout title={title + ": " + json[0].label}>
<p>This group includes the following items:</p>
<ul>
	{json[0].members.map((item) => <li><a href={baseUri + section + '/' + idFrag(item.id)}>{item.label}</a></li>)}
</ul>
</Layout>

