---
import dbquery from '../script/dbquery.js';

const {type, title} = Astro.props;

async function processPost() {
	if (Astro.request.method === "POST") {
	  try {
	    const data = await Astro.request.formData();
	    const add = data.get("add");
	    const label = data.get("label");
	    
	    if (add != null && label != null) {
				const sparql = 'insert data	{ :' + dbquery.uuid() + ' a owl:NamedIndividual ;	a a11y:' + type + ' ;	 rdfs:label "' + label + '"@en }';
				const result = await dbquery.updateQuery(sparql);
				return result;
	    } else return false;
	  } catch (error) {
	    if (error instanceof Error) {
	      console.log(error.message);
	    }
	    return false;
	  }
  } else return false;
}

async function processFetch() {
	const sparql = "select ?s ?l where { ?s a a11y:" + type + " . ?s rdfs:label ?l } order by ?l";
	const json = await dbquery.selectQuery(sparql);
	return json;
}

async function process() {
	const posted = await processPost();
	const json = await processFetch();
	return json;
} 

const json = await process();

---
<form method="post">
	<input type="hidden" name="type" value={type}/>
	<p><label for="add-label">Add {title}:</label>
	<input type="text" name="label" id="add-label" /></p>
	<p><input type="submit" name="add" value={"Add " + title}/></p>
</form>
<ul>
	{json.results.bindings.map((item) => <li><a href={'?id=' + item.s.value}>{item.l.value}</a></li>)}
</ul>

