---
import * as dbquery from '../script/dbquery.js';
import {baseUri, idFrag} from '../script/util.js';

const {type, title} = Astro.props;

async function processFetch() {
	const sparql = "select ?s ?l where { ?s a a11y:" + type + " . ?s rdfs:label ?l } order by ?l";
	const json = await dbquery.selectQuery(sparql);
	return json;
}

const json = await processFetch();

---
<ul>
	{json.results.bindings.map((item) => <li><a href={baseUri + idFrag(item.s.value)}>{item.l.value}</a></li>)}
</ul>

