---
import * as dbquery from '../script/dbquery.js';
import {baseUri, idFrag, apiGet} from '../script/util.js';

const {section} = Astro.props;
const json = await apiGet(section);

---
<ul>
	{json.map((item) => <li><a href={baseUri + section + '/' + idFrag(item.id)}>{item.label}</a></li>)}
</ul>

