---
import * as dbquery from '../script/dbquery.js';
import TypeOptionList from './TypeOptionList.astro';

const {type, title, supportsType, supportsTypeTitle} = Astro.props;

var selectedId = "";

async function processFetch() {
	const sparql = "select ?id ?label ?supports_id ?supports_label where { ?id a a11y:" + type + " ; rdfs:label ?label ;  a11y:supports ?supports_id .  ?supports_id rdfs:label ?supports_label }";
	const json = await dbquery.selectQuery(sparql);
	return json;
}

const json = await processFetch();
---
<table>
	<thead>
		<th>{title}</th>
		<th>{supportsTypeTitle}</th>
	</thead>
	<tbody>
		{json.results.bindings.map((item) => <tr><td><a href={'/functional-needs/' + dbquery.idFrag(item.id.value)}>{item.label.value}</a></td><td><a href={'/functional-need-categories/' + dbquery.idFrag(item.supports_id.value)}>{item.supports_label.value}</a></td></tr>)}
	</tbody>
</table>

