---
import * as dbquery from '../script/dbquery.js';
import {idFrag} from '../script/util.js';

const {type, title, selectedId } = Astro.props;

const sparql = "select ?id ?label where { ?id a a11y:" + type + " ; rdfs:label ?label} order by ?label";
const json = await dbquery.selectQuery(sparql);

---
<label for="category">{title}</label>
<select name="category" id="category">
	{json.results.bindings.map((item) => <option value={idFrag(item.id.value)} selected={(selectedId == idFrag(item.id.value)) ? 'selected' : undefined}>{item.label.value}</option>)}
</select>