---
import Layout from '../../layouts/Layout.astro';
import {baseUri, idFrag, apiGet} from '../../script/util.js';
import { loadStaticPaths } from '../../components/load-static-paths';

export async function getStaticPaths() { 
	const section = "functional-need-categories";
	const paths = await loadStaticPaths(section);
	return paths;
}

const {id} = Astro.params;
const json = await apiGet("functional-need-categories/" + id);

---
<Layout title={"Functional Need Category: " + json[0].label}>
<p>{json[0].functionalNeeds.length} functional needs:</p>
<ul>
	{json[0].functionalNeeds.map((item) => <li><a href={baseUri + 'functional-needs/' + idFrag(item.id)}>{item.label}</a></li>)}
</ul>
</Layout>
