---
import Matrix from '../../layouts/Matrix.astro';
import { getTable } from './build-matrix';

let table = await getTable();
---
<Matrix title="Functional needs matrix" table={table}>
	<div id="disclaimer">
		<p>Out of date draft</p>
		<p>Not for distribution</p>
	</div>
</Matrix>
